@tailwind base;
@tailwind components;
@tailwind utilities;

.total-score::before {
  content: "Score: ";
}

.streak-progress {
  position: relative;
  border: 1px solid white;
  width: 300px;
  border-radius: 99px;
  overflow: hidden;
  span {
    
    padding: 0 10px;
  }
}

.wrong-answer {
  background: red;
}

.right-answer {
  background: green;
}

.hidden-answer {
  visibility: hidden;
}

.streak-point {
  background: orange;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 99px;
}