html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.box {
    display: flex;
    position: relative;
    width: 80rem;
    height: 45rem;
    background-image: url(https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg);
    background-size: contain;
}

.blurred-background {
    position: absolute;
    background: #9a93bc;
    border-radius: 0.5rem;
    padding: 1rem 2rem 0rem 2rem;
    top: 10.5rem;
    right: 20.8rem;
    text-align: center;
} 

.blurred-background p:first-child {
    margin: 0rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.blurred-background p:nth-child(2) {
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.blurred-background p:nth-child(2) span {
    text-decoration: underline;
}

.react-word {
    font-weight: 600;
    font-size: 8.5rem;
    color: #b3eefc;
    margin: 0rem;
}