.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    left: 0;
    top: 0;
    background: rgb(235, 234, 234);
    h2 {
        align-content: center;
    }
  }

  .cart-icon {
    position: relative;
    cursor: pointer;
  }
  
  .cart {
    position: absolute;
    right: 0;
    width: 300px;
  }