* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 20px;
  width: 600px;
  background: #4286f4;
  padding: 15px;
  .lesson,
  .module {
    padding: 8px 10px;
    border: 1px solid white;
    margin-bottom: 2px;
    p {
      user-select: none;
    }
  }
  .lesson {
    background: #8bb3f4;
  }
  .module {
    background: #ff6f00;
  }
  .dragging {
    opacity: 0.6;
  }
}
