

    blockquote {
        font-family: serif;
        font-style: italic;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        padding: 0 80px;
        position: relative;
    }

    blockquote::before,
    blockquote::after {
        content: '"';
        border-radius: 50%;
        background: #cccccc;
        font-size: 30px;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
    }

    blockquote::before {
        margin-left: -80px;
    }

    blockquote::after {
        position: absolute;
        right: 0;
    }
