@use 'partials/reset';

body {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.342);
    z-index: -1;
}

.form-box {
    background: white;
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    top: 50%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.275);
    padding: 10px 0;
    .logo {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        img {
            width: 100px
            ;
        }
    }
    .active {
        display: block;
    }
}
nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background: rgba(128, 128, 128, 0.122);
    .sign_in {
        width: 50%;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
    }
    .sign_up {
        width: 50%;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
    }
    .active {
        background: green;
        color: white;
    }
}

.sign_in-box {
    display: none;
    padding: 0 10px;
    .desc {
        text-align: center;
        font-style: italic;
        font-size: 1rem;
        margin-top: 10px;
    }
    .social_method {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        .google,
        .facebook {
            width: 40%;
            padding: 5px;
            display: flex;
            justify-content: center;
            background: #e2e8f0;
            border-radius: 3px;
            align-items: center;
            font-size: 1rem;
            i {
                font-size: 1.3rem;
            }
        }
    }

    form {
        border-top: 1px solid rgba(128, 128, 128, 0.411);
        margin: 0 5px;  
        margin-top: 20px;
        position: relative;
        .or {
            position: absolute;
            top: -12px; 
            left: 50%;
            transform: translateX(-50%);
            background: white;
            padding: 0 5px;
        }
        .input-box {
            margin-top: 20px;
        }
        .email-input,
        .password-input {
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            outline: solid 1px rgba(128, 128, 128, 0.432);
            input {
                width: 100%;
                border: none;
                outline: none;
            }
        }

        .password-input {
            position: relative;
            i {
                position: absolute;
                right: 8px;
                cursor: pointer;
                display: none;
            }
            .active {
                display: inline-block;
            }
        }
        .forget_password {
            margin-top: 10px;
            color: rgba(128, 128, 128, 0.414);
            font-style: italic;
            display: block;
            width: 100%;
            text-align: end;
        }
        button {
            cursor: pointer;
            margin: auto;
            margin-top: 10px;
            display: block;
            width: 100%;
            padding: 10px 0;
            background: green;
            color: white;
            border-radius: 5px;
            border: none;
        }
    }
}

.sign_up-box {
    display: none;
    padding: 0 10px;
    .desc {
        text-align: center;
        font-style: italic;
        font-size: 1rem;
        margin-top: 10px;
    }
    .social_method {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        .google,
        .facebook {
            width: 40%;
            padding: 5px;
            display: flex;
            justify-content: center;
            background: #e2e8f0;
            border-radius: 3px;
            align-items: center;
            font-size: 1rem;
            i {
                font-size: 1.3rem;
            }
        }
    }

    form {
        // border-top: 1px solid rgba(128, 128, 128, 0.411);
        margin: 0 5px;  
        margin-top: 20px;
        position: relative;
        .or {
            position: absolute;
            top: -12px; 
            left: 50%;
            transform: translateX(-50%);
            background: white;
            padding: 0 5px;
        }
        .input-box {
            margin-top: 20px;
        }
        .fullname-input,
        .email-input,
        .password-input {
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            outline: solid 1px rgba(128, 128, 128, 0.432);
            input {
                width: 100%;
                border: none;
                outline: none;
            }
        }

        .password-input {
            position: relative;
            i {
                position: absolute;
                right: 8px;
                cursor: pointer;
                display: none;
            }
            .active {
                display: inline-block;
            }
        }
        .policy {
            margin-top: 20px;
            display: block;
            width: 100%;
            text-align: start;
            a {
                color: blue;
            }
        }

        button {
            cursor: pointer;
            margin: auto;
            margin-top: 20px;
            display: block;
            width: 100%;
            padding: 10px 0;
            background: green;
            color: white;
            border-radius: 5px;
            border: none;
        }
    }
}
