html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.container {
    margin: 0.5rem 0rem;
    font-size: 1.6rem;
}

.input-tag {
    background: #d85924;
    padding: 1rem;
    color: white;
}

label {
    cursor: pointer;
}

.open-tag {
    display: none;
}

.container input:checked+.input-tag i{
    display: none;
}

.container input:checked+.input-tag .open-tag{
    display: inline;
}

ol {
    padding-inline-start: 1.6rem;
    margin: 0rem;
}

.content-box {
    padding-inline-start: 2rem;
    margin: 1.6rem 0rem;
    display: none;
}

.content-box p {
    margin: 0rem;
}

.container input:checked~.content-box{
    display: block;
}


