* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg) no-repeat center/cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.row {
    display: block;
    width: 50%;
    margin:auto;
}

.col-40 {
    float: left;
    width: 40%;
}

.col-60 {
    float: left;
    width: 60%;
}

.login-box {
    border-radius: 10px;
    overflow: auto;
    position: relative;
    height: 500px;
}

.login-desc {
    background: #ec6355;
    text-align: center;
    /* padding-bottom: 50px; */
    height: 100%;
    position: relative;
}

.login-desc .heading {
    margin-top: 100px;
}

.login-desc span:first-child {
    background: white;
    padding: 1px;
    border-radius: 3px;
    font-size: 3rem;
    color: #ec6355;
    font-weight: 600;
    margin: 0 4px;
}

.login-desc h1 {
    display: inline-block;
    color: white;
    font-size: 3rem;
}

.login-desc p {
    margin: 20px 10px 0px;
    color: white; 
    font-size: 1.5rem;
    line-height: 1.5;
}

.login-desc button {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 1rem;
    color: #ec6355;
    font-size: 1.5rem;
    cursor: pointer;
}

.contact-box {
    margin-top: 30px;
}

.contact-box li {
    display: inline-block;
    padding: 8px;
    background: #db5c4f;
    border-radius: 3px;
    margin: 0 3px;
}

.contact-box li i {
    color: white;
    font-size: 1.5rem;
}

.login-form {
    text-align: center;
    background: white;
    height: 100%;
}

.login-form .heading {
    margin-top: 60px;
    font-size: 2.3rem;
    font-weight: 600;
}

.login-form .heading>span {
    color: #ec6355;
}

.login-form .heading>span span {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid #ec6355;
    
}

.login-form>h2 {
    border-bottom: 1px solid #ec6355;
    color: black;
}

.login-form form {
    width: 80%;
    margin: 40px auto;
    position: relative;
}

.login-form form input {
    border: 1px solid rgba(128, 128, 128, 0.308);
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 15px 10px;
    display: block;
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.219);
}

.login-form .form-assist{
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: start;
    color: gray;
}

.login-form .form-assist input {
    margin-bottom: 0px;
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    
}

.login-form .form-assist label {
    cursor: pointer;
}

.login-form .form-assist a {
    float: right;
    color: gray;
}

.login-form button {
    margin-top: 35px;
    width: 100%;
    background: #ec6355;
    padding: 20px 0;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.login-form .sign-up {
    margin-top: 25px;
    color: gray;
    font-size: 1.5rem;
}

.login-form .sign-up>a {
    color: rgba(128, 128, 128, 0.621)
}

.login-box .icon {
    height: 3.5rem;
    width: 3.5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    background: white;
    border-radius: 50%;
    color: #ec6355;
    font-size: 1.5rem;
    left: 96%;
    top: 45%;
    box-shadow: 3px 0 10px 1px rgba(128, 128, 128, 0.158);
}
