* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Asap;
}

a {
    text-decoration: none;
}
.row {
    width: 100%;
}

.col-3 {
    width: 30%;
}

.container {
    overflow: auto;
    width: 100%;
    margin: 30px auto;
    background: #f3f2f0;
    padding: 0 200px;
}

ul {
    list-style: none;
}

.heading h2 {
    position: relative;
    font-size: 1.5rem;
    display: inline-block;
    top: 8px;
    background: #f3f2f0;
    padding-right: 10px;
}

.heading ul {
    padding-top: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.637);

}

.heading li {
    display: inline-block;
    background: #e5e5e5;
    width: 18rem;
    border-radius: 50px;
    text-align: center;
    padding: 10px 0;
}

.heading li a {
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
}

.heading li span {
    display: block;
}

.heading li a>i {
    font-size: 1rem;
}

.banners ul {
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.banners li {
    display: inline-block;
}

.banners ul li:first-child {
    float: left;
}

.banners ul li:nth-child(2) {
    
}

.banners ul li:last-child {
    float: right;
}

.banners li a{
    display: block;
    height: 200px;
    background: no-repeat url(https://fastly.picsum.photos/id/584/300/200.jpg?hmac=xaPgk5Utn9dbG0qYAwN6tDYk6IJm_8euQ8RltlLfQAQ) center / cover;
}

